[submodule "data"]
	path = data
	url = https://github.com/datoviz/data
[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm.git
[submodule "external/mimalloc"]
	path = external/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "external/kvazaar"]
	path = external/kvazaar
	url = https://github.com/ultravideo/kvazaar
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/cimgui"]
	path = external/cimgui
	url = https://github.com/datoviz/cimgui.git
[submodule "external/msdf-atlas-gen"]
	path = external/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
