[submodule "data"]
	path = data
	url = https://github.com/datoviz/data
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm.git
