# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
# *.dll
# *.so
# *.so.*
# *.dylib
*.cpython*.so

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python
__pycache__
*.egg-info
datoviz/*.c

# Datoviz-specific
*~
*~.*
_old*
.direnv
.DS_Store
.env*
.vs
.vscode
*.dvz*
*.ipynb*
*.npy
*.npz
*.out.txt
*.zst
*/*/benchmarks/*.json
*/*/benchmarks/*.png
api_*.md
api.md
bugs
build*/
cleaned
dist
docs/examples
docs/gallery/
experimental
joblib
nightly
notes.md
packaging
perf.*
release_artifacts
screenshots
site
uv.lock
*venv
wheel
.cache
vcpkg_installed