# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
# *.dll
# *.so
# *.so.*
# *.dylib
*.cpython*.so

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python
__pycache__
*.egg-info
datoviz/*.c

# Datoviz-specific
build*
screenshots
.vs
.vscode
perf.*
*~
.DS_Store
_old
headers.json
joblib
*.ipynb*
*.npy
*.npz
experimental
*.out.txt
*~.*
*.dvz*
*.zst
_old*
packaging
dist
docs/examples
api.md
venv
site
