bokeh
colorcet
cython
ghp-import
imageio
matplotlib
mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-simple-hooks
numpy
pillow
pyparsing
pytest
tqdm
twine
webcolors
git+https://github.com/rossant/auditwheel.git@include-exclude
git+https://github.com/rossant/delocate.git@exclude
