<!DOCTYPE html>
<html>

<head>
    <style>
        html {
            background-color: black;
        }
    </style>
    <script>
        window.i = 0;



        _DTYPE_MAPPING = {
            "uint8": [Uint8Array, 1],

            "uint16": [Uint16Array, 2],
            "int16": [Int16Array, 2],

            "uint32": [Uint32Array, 4],
            "int32": [Int32Array, 4],

            "float32": [Float32Array, 4],
            "float64": [Float64Array, 8],
        };

        function StructArray(count, dtype) {
            this.count = count;
            this.dtype = dtype;
            this.fields = {};
            this.itemsize = 0;
            for (let i = 0; i < dtype.length; i++) {

                let name = dtype[i][0];
                let dt = dtype[i][1];
                let count = dtype[i][2];
                let size = _DTYPE_MAPPING[dt][1];

                this.fields[name] = {
                    type: dt,
                    count: count,
                    itemsize: size,
                    offset: this.itemsize
                };
                this.itemsize += count * size;
            }
            this.buffer = new ArrayBuffer(count * this.itemsize);
        };

        StructArray.prototype.set = function (idx, name, values) {
            let field = this.fields[name];
            let vt = _DTYPE_MAPPING[field.type][0];
            let view = new vt(this.buffer, this.itemsize * idx + field.offset, field.count);
            for (let i = 0; i < field.count; i++) {
                view[i] = values[i];
            }
        };



        function tob64(buffer) {
            var binary = '';
            var bytes = new Uint8Array(buffer);
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode(bytes[i]);
            }
            return window.btoa(binary);
        }

        function loadJSON() {
            return JSON.parse('{{ json_contents | safe}}');
        }

        function updateRequest(buffer) {
            var contents = loadJSON();
            contents.requests = [contents.requests[4]];
            contents.requests[0].content.data.buffer = tob64(buffer);
            return contents;
        }

        function submit(contents) {
            fetch("/request", {
                method: "post",
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(contents)
            }).then(res => {
                document.getElementById("img").setAttribute("src", "/render?" + window.i++);
            });
        }

        function getArray() {

            var arr = new StructArray(3, [["pos", "float32", 3], ["color", "uint8", 4]]);

            arr.set(0, "pos", [-1, -1, 0]);
            arr.set(0, "color", [255, 0, 0, 255]);

            arr.set(1, "pos", [+1, -1, 0]);
            arr.set(1, "color", [0, 255, 0, 255]);

            arr.set(2, "pos", [0, +1, 0]);
            arr.set(2, "color", [0, 0, 255, 255]);

            return arr;
        }

        function load() {
            var contents = loadJSON();
            submit(contents);

            window.arr = getArray();

            document.getElementById("img").addEventListener("click", e => {
                let x = -1 + 2 * e.offsetX / e.srcElement.width;
                let y = 1 - 2 * e.offsetY / e.srcElement.height;
                console.log([x, y, 0]);
                window.arr.set(2, "pos", [x, y, 0]);
                update();
            });
        }

        function update() {
            var contents = updateRequest(window.arr.buffer);
            submit(contents);
        }
    </script>
</head>

<body onload="load();">
    <img width="800" height="600" id="img" />
    <br>
    <button onclick="update();">Submit</button>
</body>

</html>
